# datasets & artifacts (do NOT commit)
data/
datasets/
samples/
*.csv
*.tsv
*.xlsx
*.parquet
*.pcap
*.pkl
*.joblib
*.h5
*.bin

# models & local DBs
models/*.pkl
models/*.joblib
*.db
*.sqlite

# archives
*.zip
*.tar
*.gz
*.7z

# generated reports / coverage
reports/
htmlcov/
coverage*.xml
*.html
*.json

# node stuff
node_modules/
dist/

# notebooks & env
.ipynb_checkpoints/
.env

# OS/editor junk
.DS_Store
Thumbs.db
